/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssetStoreTools*
/[Bb]uild/
/[Bb]uilds/
/[Cc]onfig/
/[Ll]ibrary/
/[Ll]og/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Pp]ackage-lock.json
/[Pp]ackages/
/[Pp]rojectSettings/
/[Ss]criptCompilationBackend/
/[Ss]erver/
/[Tt]emp/
/[Uu]serSettings/
.collabignore
.DS_Store
*.apk
*.unitypackage
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.sln
*.csproj
*.unityproj
*.swp
*.swo
*.DS_Store
[Tt]husst*
/Assets/AssetStoreTools*
/Assets/Plugins/Editor/JetBrains*
.vs/
ExportedObj/
.plastic/
